<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="/_css/main.css">
{% if '/features' in page.url %}
    <link rel="stylesheet" href="/_css/feature-support.css">
{% endif %}
    <link rel="manifest" href="/.webmanifest">
    <meta name="theme-color" content="#4285F4">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="Website Atom feed">
    <script>document.documentElement.className+=' js'</script>
{% if description %}
    <meta name="description" content="{{ description }}">
{% endif %}
  </head>
  <body>
    <header id="header">
      <h1><a href="/">Home</a></h1>
    </header>
    <main id="main">
      {{ content | safe }}
    </main>
    <footer id="footer">
      <div>
        <nav>
          <a href="https://www.devcongress.org">DevCongress</a> ·
          <a href="https://mobile.twitter.com/ejnbo" rel="me nofollow">@ejnbo</a> ·
          <a href="https://mobile.twitter.com/devcongress" rel="me nofollow">@DevCongress</a> ·
        </nav>
        <dark-mode-toggle permanent dark="Light Theme" light="Dark Theme"></dark-mode-toggle>
      </div>
    </footer>
    <script type="module" src="/_js/main.mjs"></script>
    <script nomodule src="/_js/legacy.js"></script>
  </body>
</html>
