---
layout: layouts/base.njk
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ title | markdown | safe }}</h1>
    <p class="meta">
      Published <time datetime="{{ date | htmlDateString }}" itemprop="datePublished">{{ date | readableDate }}</time>
      {% if updated %}
        · Updated <time datetime="{{ updated | htmlDateString }}" itemprop="dateModified">{{ updated | readableDate }}</time>
      {% endif %}
      {% if tags %}
        · Tagged with {% for tag in tags %}
          <a href="/blog/tags/{{ tag | slug }}" class="tag">{{ tag }}</a>
        {% endfor %}
      {% endif %}
    </p>
  </header>
  <div itemprop="articleBody">
    {{ content | safe }}
  </div>
</article>
