---
navtitle: Blog
layout: layouts/home.njk
description: 'Publications'
---
<h1>Welcome!</h1>

<p>I hope you find something interesting to read.</p>

<h2>Latest publications</h2>

{% set posts = collections.posts | head(22) %}
{% set start = collections.posts | length %}
{% include "posts.njk" %}

<p>More publications can be found <a href="/blog">here</a>.</p>
